/*
Component: Range Slider
Date created: 13.07.2023
Original source: https://codepen.io/badraan/pen/NMRpQR
Original author: Ahmed Badran
Date created (original): unknown
Modified: yes
*/




.range-form 
{
    width: 400px;
    margin: auto;
    padding: 50px;
}
  
.range-slider 
{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 16px;
    border-radius: 10px;
    background: #0084ff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.range-slider:hover 
{
    opacity: 100;
}
.range-slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    background: #4298e9;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #464646;
}
.range-slider::-webkit-slider-thumb:hover
{
    background: #3bb4e4;
    border-radius: 8px;
    transition: 0.4s;
}
.range-slider::-webkit-slider-thumb:active
{
    background: #7ad9ff;
}
.range-slider::-moz-range-thumb 
{
    width: 18px;
    height: 18px;
    background: #4CAF50;
    cursor: pointer;
}
